* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

p {
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h1 {
   font-family: 'Boldonse', 'Courier New', Courier, monospace
}

h2 {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Boldonse', 'Courier New', Courier, monospace
}

#first {
    text-align: center;
    font-family: 'Boldonse', 'Courier New', Courier, monospace;
    font-size: 40px;
}

h3 {
    padding-left: 10px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h4 {
    padding-left: 20px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h5 {
    font-size: 20px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #046A38;
    color: white;
    text-align: center;
    box-sizing: border-box; 
    z-index: 10;
}

.topGroup {
    display: flex;
    align-items: center;
}

.headerImage {
    height: 64px;
    width: 64px;
    margin-left: 15px;
    margin-right: 20px;
}

.spacer {
    padding-right: 350px;
}

.seperator {
    color: #CBA052;
    background-color: #CBA052;
}

.buttonContainer {
    margin-top: 10px; 
    padding-left: 5px;
}

.buttonContainer button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buttonContainer button:hover {
    background-color: #CBA052;

}

button a {
    text-decoration: none; 
    color: black;
    font-weight: bold;
}

.middle {
    flex: 1;
    text-align: left;
    padding: 50px;
    background-color: #F2F1F0;
}

.nextSection {
    flex: 1;
    text-align: left;
    background-color: #F2F1F3;
}

.nextSectionContainer {
    padding: 50px;
}

.nextSectionContainer .introSection {
    padding:  20px 20px;
}

.introP {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-right: 10px;
}

.introSection {
    background-color: #2931360f;
    margin-top: 20px;
    border-radius: 8px;
}

.videoHolder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 30px;
    max-width: 100%;
}

.videoHolder video {
    width: 70%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1000px) {
    .videoHolder {
        flex-direction: column;
    }

    #demonstrationTitle {
        padding-top: 20px;
    }
}

li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.bulletPoints {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.bottom {
    margin-top: auto;
    padding: 30px;
    font-size: 20px; 
    background-color: #046A38;
    color: white;
}

.bottomFooter {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialMediaIcons :hover{
    background-color: #CBA052;
}

.footerInfo p {
    padding-top: 20px;
    font-size: 15px;
}

.contact-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
}

label {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    display: block;
    padding-bottom: 6px ;
    padding-top: 6px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 100%;
    background: #CBA052;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}


textarea {
    resize: none;
    height: 100px;
}

ul {
    padding-left: 50px;
}

.individualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}

.jimmieIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}

.kristinIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px; 
}

.nickIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}

img {
    height: 128px;
    width: 128px;
}

.nav-menu {
    display: flex;
    gap: 10px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #046A38;
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-menu button {
        width: 100%;
        text-align: left;
        background: transparent;
        border: none;
        padding: 10px;
        color: black;
    }

    .hamburger {
        display: block;
    }

    .nav-menu.show {
        display: flex;
    }
}

.groupPhoto {
    height: 320px;
    width: 320px;
}

.universities {
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 100px;
    padding: 10px 0px;
    background-color: #F2F1F0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.uniTitle {
    text-align: center;
    font-family: 'Boldonse', 'Courier New', Courier, monospace;
}

@media (max-width: 400px) {
    .uniTitle {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
}

.scrolling-container {
    display: flex;
    gap: 130px;
    animation: scrollLeft 10s linear infinite;
    width: max-content; 
}


.scrolling-container img {
    height: 80px; 
    width: auto; 
}

@keyframes scrollLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

#i {
    padding-top: 30px;
    text-align: center;
}

.missionStatement {
    text-align: center;
    padding: 50px 200px ;
}

@media (max-width: 800px) {
    
    .missionStatement {
        padding: 0px;
        margin-top: 10px;
    }

}

.socialTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.contactSocialMedia {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.comparison {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 50px
}

.comparison2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .comparison {
        flex-direction: column;
        text-align: center;
    }

    .comparison2 {
        flex-direction: column;
        text-align: center;
    }

    .comparison2 h2 {
        padding-top: 50px;
    }
}

.wrightStateImage {
    height: 460px;
    width: auto;
}

.imageContainerWrightState {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
}

@media (max-width: 800px) {
    .wrightStateImage{
        height: 330px;
    }
}

@media (max-width: 600px) {
    .wrightStateImage{
        height: 200px;
    }
}

@media (max-width: 348px) {
    .wrightStateImage{
        height: 150px;
    }
}
