* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

p {
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h1 {
   font-family: 'Boldonse', 'Courier New', Courier, monospace
}

h2 {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Boldonse', 'Courier New', Courier, monospace
}

h3 {
    padding-left: 10px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h4 {
    padding-left: 20px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h5 {
    font-size: 20px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.top {
    background-color: #046A38;
    color: white;
    text-align: center;
    padding: 20px;
}

.seperator {
    color: #CBA052;
    background-color: #CBA052;
}

.buttonContainer {
    margin-top: 10px; 
}

.buttonContainer button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.buttonContainer button:hover {
    background-color: #CBA052;
}

button a {
    text-decoration: none; 
    color: black;
    font-weight: bold;
}

.middle {
    flex: 1;
    text-align: left;
    padding: 50px;
    background-color: #F2F1F0;
}

.introP {
    margin-bottom: 10px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.videoHolder {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

li {
    margin-left: 50px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.bottom {
    margin-top: auto;
    padding: 30px;
    font-size: 20px; 
    background-color: #046A38;
    color: white;
}

.bottomFooter {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialMediaIcons :hover{
    background-color: #CBA052;
}

.footerInfo p {
    padding-top: 20px;
    font-size: 15px;
}

form {
    
}

.individualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}

.jimmieIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}

.kristinIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px; 
}

.nickIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}
