* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

p {
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h1 {
   font-family: 'Boldonse', 'Courier New', Courier, monospace
}

h2 {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Boldonse', 'Courier New', Courier, monospace
}

h3 {
    padding-left: 10px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h4 {
    padding-left: 20px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

h5 {
    font-size: 20px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #046A38;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box; 
    z-index: 10;
}

.topGroup {
    display: flex;
}

.headerImage {
    height: 64px;
    width: 64px;
    margin-left: 15px;
    margin-right: 20px;
}

.seperator {
    color: #CBA052;
    background-color: #CBA052;
}

.buttonContainer {
    margin-top: 10px; 
    padding-left: 5px;
}

.buttonContainer button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.buttonContainer button:hover {
    background-color: #CBA052;
}

button a {
    text-decoration: none; 
    color: black;
    font-weight: bold;
}

.middle {
    flex: 1;
    text-align: left;
    padding: 50px;
    background-color: #F2F1F0;
}

.introP {
    margin-bottom: 10px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.videoHolder {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

li {
    margin-left: 50px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.bottom {
    margin-top: auto;
    padding: 30px;
    font-size: 20px; 
    background-color: #046A38;
    color: white;
}

.bottomFooter {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialMediaIcons :hover{
    background-color: #CBA052;
}

.footerInfo p {
    padding-top: 20px;
    font-size: 15px;
}

.contact-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

label {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    display: block;
    padding-bottom: 6px ;
    padding-top: 6px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 100%;
    background: #CBA052;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}


textarea {
    resize: none;
    height: 100px;
}

.individualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}

.jimmieIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}

.kristinIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px; 
}

.nickIndividualReports li {
    font-family: 'Lato', 'Courier New', Courier, monospace;
    padding-bottom: 12px;
}

img {
    height: 128px;
    width: 128px;
}